<div class="container">
  <section class="section">
    <div class="plans">
      <div class="wrapper d-flex">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-offer">
              <span class="card-offer__num">1</span>
              <span class="card-offer__month">месяц</span>
              <span class="card-offer__price">99$</span>
            </div>
            <div class="card-descr">
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Spot and Futures Premium</span>
              </p>
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Поддержка 24/7</span>
              </p>
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Проходимость сигнала 95%</span>
              </p>
            </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card">
            <div class="card-offer">
              <span class="card-offer__num">3</span>
              <span class="card-offer__month">месяца</span>
              <span class="card-offer__price">199$</span>
            </div>
            <div class="card-descr">
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Spot and Futures Premium</span>
              </p>
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Поддержка 24/7</span>
              </p>
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Проходимость сигнала 95%</span>
              </p>
            </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card">
            <div class="card-offer">
              <span class="card-offer__num">6</span>
              <span class="card-offer__month">месяцев</span>
              <span class="card-offer__price">399$</span>
            </div>
            <div class="card-descr">
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Spot and Futures Premium</span>
              </p>
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Поддержка 24/7</span>
              </p>
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Проходимость сигнала 95%</span>
              </p>
            </div>
          </div>
        </div>
        <div class="card-wrapper">
          <div class="card">
            <div class="card-offer">
              <span class="card-offer__num">12</span>
              <span class="card-offer__month">месяцев</span>
              <span class="card-offer__price">649$</span>
            </div>
            <div class="card-descr">
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Spot and Futures Premium</span>
              </p>
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Поддержка 24/7</span>
              </p>
              <p class="card-descr__wrapper">
                <img class="card-descr__img" src="/assets/photo/right-arrow.png" alt="Arrow">
                <span>Проходимость сигнала 95%</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="promotion">
      <div class="promotion_wrapper">
        <p class="promotion_text">до 21.10.21 действует скидка, места ограничены</p>
        <span class="promotion_sale"><span class="promotion_saleNum">50</span>%</span>
      </div>
    </div>
    <div class="iphone-block">
      <div class="iphone-block-wrapper">
        <div class="iphone-block__result-img-block">
          <!--          <img src="#" alt="Results from Telegram Channel CryptoGraph">-->
        </div>
      </div>
    </div>
    <span class="logo7-shadow"></span>
    <img class="logo7" src="/assets/photo/btc3.1.png" alt="iPhone with results">
    <img class="iPhone-img" src="/assets/photo/iphone.png" alt="iPhone with results">
    <!--    Добавить блок с листающимися картинками/скрол-->
    <img class="iPhone-results" src="/assets/photo/results1.png" alt="Results from telegram">
  </section>
</div>
