<div class="container">
  <section class="section">
    <div class="aboutUs-block">
      <div class="whyWe-block d-flex">
        <div class="whyWe-block__header">
          <h1>Почему мы?</h1>
        </div>
       <div class="whyWe-block__items">
         <div class="whyWe-block__item">
           <img class="whyWe-block__item___img" src="/assets/photo/calendar.png" alt="Calendar">
           <p class="whyWe-block__item__txt">Больше года на рынке!</p>
         </div>
         <div class="whyWe-block__item">
           <img class="whyWe-block__item___img" src="/assets/photo/network.png" alt="Network">
           <p class="whyWe-block__item__txt"> Вы станете частью  криптосообщества</p>
         </div>
         <div class="whyWe-block__item">
           <img class="whyWe-block__item___img" src="/assets/photo/lifebuoy.png" alt="Lifebuoy">
           <p class="whyWe-block__item__txt">Поддержка для новичков</p>
         </div>
       </div>
      </div>
      <div class="how-works-block d-flex">
        <div  class="how-works-block__header">
          <h1>Как мы работаем?</h1>
        </div>
        <div class="how-works-block__items">
          <div class="how-works-block__item">
            <img class="how-works-block__item___img" src="/assets/photo/earn.png" alt="Calendar">
            <p class="how-works-block__item__txt">Активное использование  Take-profit и Stop-loss</p>
          </div>
          <div class="how-works-block__item">
            <img class="how-works-block__item___img" src="/assets/photo/time-is-money.png" alt="Network">
            <p class="how-works-block__item__txt">Регулярные сигналы</p>
          </div>
          <div class="how-works-block__item">
            <img class="how-works-block__item___img" src="/assets/photo/target.png" alt="Lifebuoy">
            <p class="how-works-block__item__txt">Торговая стратегия с минимальными рисками</p>
          </div>
        </div>
      </div>
      <img class="logo8" src="/assets/photo/footer_btc1.png" alt="Bitcoin">
    </div>
    <div class="contactUs-block">
      <div class="contactUs-block__tagline-block d-flex">
        <div class="tagline-block__header">
          <h2>Мы верим в криптовалюту!</h2>
        </div>
      </div>
      <div class="contactUs-block__contacts-block d-flex">
        <div class="contacts-block__header">
          <h2>Контакты</h2>
        </div>
        <div class="offer-btns">
          <a href="#" class="offer-btn btn-insta">Instagram</a>
          <a href="#" class="offer-btn btn-tg">Telegram</a>
        </div>
      </div>
    </div>

  </section>
</div>
