<div class="container">
  <section class="section">
    <header>
      <div class="wrapper wrapper-header  d-flex">
        <img class="logo" src="/assets/photo/cpu.png" alt="Logo Bitcoin Cpu">
        <h1 class="title">CryptoGraph</h1>
        <ul class="menu d-flex">
          <li class="menu-item"><a href="#">главная</a></li>
          <li class="menu-item"><a href="#">новости</a></li>
          <li class="menu-item"><a href="#">тарифы</a></li>
          <li class="menu-item"><a href="#">о нас</a></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="wrapper wrapper-content d-flex">
        <div class="offer">
          <div class="offer-wrapper">
            <h1 class="offer-title">
              Make profit
              <span class="offer-word">
                <span>
                  every day!
                </span>
              </span>
            </h1>
            <div class="offer-btns">
              <a href="#" class="offer-btn btn-insta">Instagram</a>
              <a href="#" class="offer-btn btn-tg">Telegram</a>
            </div>
            <a href="" class="offer-btnBig btn-results">
              Результаты
            </a>
          </div>
        </div>
        <div class="photo-offer">
          <img class="logo5" src="/assets/photo/ellipse.png" alt="Bitcoin Search Logo">
        </div>
      </div>
    </div>
    <img class="logo3" src="/assets/photo/rocketBtc.png" alt="Rocket with Bitcoin">
    <img class="logo2" src="/assets/photo/btc1.png" alt="Bitcoin Search Logo">
    <img class="logo4" src="/assets/photo/btc2.png" alt="Bitcoin Search Logo">
  </section>
</div>
